src/main/resources/xsd/protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://soap.lab/pets"
  targetNamespace="http://soap.lab/pets"
  elementFormDefault="qualified">

  <xs:element name="StatusRequest">
    <xs:complexType/>
  </xs:element>

  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
