src/main/resources/xsd/protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://soap.lab/pets"
  targetNamespace="http://soap.lab/pets"
  elementFormDefault="qualified">

  <xs:complexType name="Pets">
    <xs:sequence>
      <xs:element name="dog" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="cat" type="xs:string"/>
      <xs:element name="mouse" type="xs:string"/>
      <xs:element name="raven" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
